    <br>    
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-lg-2 mt-5">       
                <h1>Placeit</h1>
                <br> 
                <br> 
                <br> 
                <ul>                
                    <li><%= link_to  "Reservas", reservations_path %></li>
                    <li><%= link_to  "Peliculas", movies_path %></li>
                </ul>
                <br>
            </div>
            <div class="col-xs-12 col-lg-10 ">
              <table class="table">
                <thead>
                    <tr>
                      <th>Película</th>
                      <th>Nombre Reservante</th>
                      <th>Correo electrónico</th>
                      <th>Cedula</th>
                      <th>Celular</th>
                     </tr>
                 </thead>
                 <tbody>                   
                      <%= render @reservations %>                     
                 </tbody>
               </table>
            </div>
        </div>

    </div> 
